<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 헤더 시작 -->
	<div th:replace="/common/header :: header"></div>
	<!-- 헤더 끝 -->

	<!-- 개별 css -->
	<style type="text/css">

	</style>
</head>

<body>
	<!-- 네비 시작 -->
	<div th:replace="/common/nav :: nav"></div>
	<!-- 네비 끝 -->

	<!-- 본문 시작 -->

	<!-- 본문 끝 -->

	<!-- 푸터 시작 -->
	<footer th:replace="/common/footer :: footer"></footer>
	<!-- 푸터 끝 -->

	<!-- 개별 js -->
	<script type="text/javascript">

	</script>
</body>

</html>