<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>Contact</h3>
                        <address>서울 마포구 동교동</address>
                        <ul class="list-unstyled links">
                            <li><a href="tel://11234567890">032-456-7890</a></li>
                            <li><a href="mailto:info@mydomain.com">info@mydomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>info</h3>
                        <ul class="list-unstyled float-start links">
                            <li><a href="/main/properties.html">매물 정보</a></li>
                            <li><a href="/main/freeServices.html">게시판</a></li>
                            <li><a href="/main/about.html">공지사항</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">뉴스</a></li>
                        </ul>
                        <ul class="list-unstyled float-start links">
                            <li><a href="#">중개인</a></li>
                            <li><a href="#">관리자</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>Links</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">Our Vision</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>

                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        . All Rights Reserved.
                    </p>
                    <div>
                        Distributed by <a href="https://themewagon.com/" target="_blank">themewagon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 공통 js -->
    <script src="/resources/js/jquery-3.5.1.min.js"></script>
    <script src="/resources/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/js/tiny-slider.js"></script>
    <script src="/resources/js/aos.js"></script>
    <script src="/resources/js/navbar.js"></script>
    <script src="/resources/js/counter.js"></script>
    <script src="/resources/js/custom.js"></script>

</footer>

</html>