<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

    <meta charset="UTF-8">
    <title>ZIPZIP</title>
    <link rel="shortcut icon" href="/resources/images/favicon.png" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- 공통 css -->
    <link rel="stylesheet" href="/resources/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/resources/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="/resources/css/tiny-slider.css" />
    <link rel="stylesheet" href="/resources/css/aos.css" />
    <link rel="stylesheet" href="/resources/css/style.css" />

    <style type="text/css">
        @font-face {
            font-family: 'Ha';
            src: url('/resources/fonts/kor/HANAMDAUM_Body.woff2') format('woff');
        }

        body {
            font-family: 'Ha' !important;
        }

        .test {
            background: yellow;
        }
    </style>

</head>

</html>