<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="nav">

    <nav class="site-nav">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation">
                    <a href="/"><img src="/resources/images/logo.png" width="5%" height="5%"></a>
                    
                    <span sec:authorize="isAuthenticated()">
                    	<span class="logo ps-3" th:text="${#authentication.name}"></span> 님 어서오세요
                    </span>
                    
                    <!-- 회원 
                    <span sec:authorize="hasRole('ROLE_USER')">
                  		<span class="logo ps-3" th:text="${user.userName}"></span>
                    	<span>님 안녕하세요</span>
                    </span>
                    -->

                    <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                        <li class="active"><a class="fs-6" href="/">Home</a></li>
                        <li class="has-children"><a class="fs-6">매물</a>
                            <ul class="dropdown">
                                <li><a class="fs-6" href="/item/one">원룸</a></li>
                                <li><a class="fs-6" href="/item/two">투룸/쓰리룸</a></li>
                                <li><a class="fs-6" href="/item/off">오피스텔</a></li>
                                <li><a class="fs-6" href="/item/apt">아파트</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a class="fs-6">게시판</a>
                            <ul class="dropdown">
                            	<li><a class="fs-6" href="/board/notice">공지사항</a></li>
                                <li><a class="fs-6" href="/board/freeBoard">자유게시판</a></li>
                                <li><a class="fs-6" href="/board/reviewBoard">리뷰게시판</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a class="fs-6">서비스</a>
                            <ul class="dropdown">
                                <li><a class="fs-6" href="/etc/event">이벤트</a></li>
                                <li><a class="fs-6" href="/etc/news">뉴스</a></li>
                                <li><a class="fs-6" href="/etc/sense">부동산상식</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a class="fs-6">고객지원</a>
                            <ul class="dropdown">
								<li><a class="fs-6" href="/etc/faq">FQA</a></li>
                                <li><a class="fs-6" href="/board/qna">QnA</a></li>
                                <li><a class="fs-6" href="/board/suggest">건의사항</a></li>
                            </ul>
                        </li>
                        <!-- 인증되지 않은(로그인하지 않은) 사용자에게 보임 -->
                        <li><a class="fs-6" sec:authorize="isAnonymous()" href="/user/login">로그인/회원가입</a></li>
                        <li><a class="fs-6" sec:authorize="isAnonymous()" href="/agent/home">중개사무소 가입</a></li>
                        <!-- ROLE_USER만 보임 -->
                        <li class="has-children"><a class="fs-6" sec:authorize="hasRole('ROLE_USER')">마이페이지</a>
                            <ul class="dropdown">
                                <li><a class="fs-6" href="/user/modifyUser">회원정보수정</a></li>
                                <li><a class="fs-6" href="/user/interestItem">찜한 매물</a></li>
                                <li><a class="fs-6" href="">나의글</a></li>
                                <li><a class="fs-6" href="">나의문의</a></li>

                            </ul>
                        </li>
                        <li><a class="fs-6" sec:authorize="hasRole('ROLE_USER')" href="/user/logout">로그아웃</a></li>
                        
                        <!-- ROLE_AGENT만 보임 -->
                        <li class="has-children"><a class="fs-6" sec:authorize="hasRole('ROLE_AGENT')">중개사페이지</a>
                            <ul class="dropdown">
                                <li><a class="fs-6" href="">회원정보수정</a></li>
                                <li><a class="fs-6" href="">매물조회</a></li>
                                <li><a class="fs-6" href="">매물등록</a></li>
                                <li><a class="fs-6" href="">리뷰확인</a></li>
                            </ul>
                        </li>
                        <li><a class="fs-6" sec:authorize="hasRole('ROLE_AGENT')" href="/agent/logout">로그아웃</a></li>
                        
                        <!-- ROLE_MANAGER만 보임 -->
						<li><a class="fs-6" sec:authorize="hasRole('ROLE_MANAGER')" href="/manager">관리자페이지</a></li>
                        <li><a class="fs-6" sec:authorize="hasRole('ROLE_MANAGER')" href="/manager/logout">로그아웃</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>

</div>

</html>