<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/resources/css/detail.css"/>
</head>
<body>

<div class="property-details">

<!-- top -->
    <div class="toolbar-container">
    	<div class="tool-icon"><img src="/resources/images/icon/goBack (2).png" class="inner-icon" id="goBack"></div>
        <div class="tool-icon" style="margin-right:10%;"><img src="/resources/images/icon/heart (2).png" class="inner-icon" id="clickHeart"></div> 
    </div>
<!-- top 끝-->
<!-- 이미지 -->
<div th:if="${not #lists.isEmpty(photos)}">
	<div class="slick-slider-nav">
	    <span class="prevArrow">&nbsp;&lt;&nbsp;</span>
	    <span class="nextArrow">&nbsp;&gt;&nbsp;</span> 
	</div>      
 <div class="slick-slider">
    <div th:each="item : ${photos}">
    <img  th:src="@{'/resources/upload/item/' + ${item.fileName}}" alt="Your Image" >
    </div>
</div>
<div class="slick-slider-dots"></div>
</div>
<!-- 이미지끝 -->
<div class="floor-layer">
    <div class="contact-button">문의하기</div>
</div>


    <div class="property-header">
        <div class="registration-number"><span th:text="${item.iNum}"></span></div>
        <div class="address-date">
            <div class="address"><span th:text="${item.itemAddress}"></span></div>
            
        </div><div class="date"><span th:text="${item.regDate}"></span>일전</div>
<!--         <div class="rent">매매 21억</div> -->
        <div class="rent"><span th:text="${item.itemPtype}"></span> <span th:text="${item.transD}"></span>
        <span th:if="${item.transM != null}" th:text="${item.transM}"></span></div>        
        <div class="maintenance-fee">관리비 <span th:text="${item.itemMaintainPrice/10000}"></span>만원</div>
    </div>
    <hr/>
    <div class="property-intro">
        <div class="one-line-intro"><span th:text="${item.itemIntro}"></span></div>
        
          <div class="option-container" id="shortO"><!-- 미리보기 -->
            <div class="option-col">
              <!-- 아이콘 -->
              <img src="/resources/images/icon/size.png" class="option-img">
	        	<!-- 이름 --><b>전용 <span th:text="${item.itemArea}"></span> m²</b>
              </div>
              <div class="option-col">
              <!-- 아이콘 -->
              <img src="/resources/images/icon/room.png" class="option-img">
	        	<!-- 이름 --><b><span>아파트</span></b>
              </div>
              <div class="option-col">
              <!-- 아이콘 -->
              <img src="/resources/images/icon/building.png" class="option-img">
	        	<!-- 이름 --><span th:text="${item.itemFloor}"></span> 층
              </div>
           </div>
           
        <!-- 원본 -->
        <div class="option-container" id="longO" style="display:none;">
           <div class="option-col">
           <!-- 아이콘 -->
           <img src="/resources/images/icon/size.png" class="option-img">
        	<!-- 이름 --><b>전용 <span th:text="${item.itemArea}"></span> m²</b>
           </div>
           <div class="option-col">
           <!-- 아이콘 -->
           <img src="/resources/images/icon/room.png" class="option-img">
        	<!-- 이름 --><b><span>아파트</span></b>
           </div>
           <div class="option-col">
           <!-- 아이콘 -->
           <img src="/resources/images/icon/building.png" class="option-img">
        	<!-- 이름 --><span th:text="${item.itemFloor}"></span> 층
           </div>
           <div class="option-col">
           <!-- 아이콘 -->
       	<span th:if="${item.itemParking}!=null">
        		<img src="/resources/images/icon/p.png" class="option-img">
        	<!-- 이름 -->주차 <span th:if="${item.itemParking} == 'Y'">가능</span>
        				   <span th:unless="${item.itemParking} == 'Y'">가능</span>
        		</span>
        	</div>
        	<div class="option-col">
        	<!-- 아이콘 -->
        	<span th:if="${item.itemMoveAvbl}!=null">
	        	<img src="/resources/images/icon/cal.png" class="option-img">
	        	<!-- 이름 --><span th:if="${item.itemMoveAvbl} == 'Y'">즉시입주가능</span>
	        	<span th:unless="${item.itemMoveAvbl} == 'Y'"><span th:text="${item.itemMoveDate}"></span></span>
        	</span>
        	</div>
        	<div class="option-col">
        	<!-- 아이콘 -->
        	<img src="/resources/images/icon/direc.png" class="option-img">
        	<!-- 이름 --><span th:text="${item.itemDirection}"></span>
        	</div>
        	<div class="option-col">
        	<span th:if="${item.itemElevator}!=null">
        	<!-- 아이콘 -->
        	<img src="/resources/images/icon/elevator.png" class="option-img">
        	<!-- 이름 -->엘레베이터 <span th:if="${item.itemElevator} == 'Y'">있음</span>
        				   	  <span th:unless="${item.itemElevator} == 'Y'">없음</span>
        	</span>
        	</div>
        	<div class="option-col">
        	<span th:if="${item.itemElevator}!=null">
        	<!-- 아이콘 -->
        	<img src="/resources/images/icon/home.png" class="option-img">
        	<!-- 이름 --><span th:text="${item.itemKind}"></span>
        	</span>
        	</div>
        	<div class="option-col">
        	<!-- 아이콘 -->
        	<img src="/resources/images/icon/pet.png" class="option-img">
        	<!-- 이름 -->반려견 동반 <span th:if="${item.itemPet} == 'Y'">가능</span>
        				   	  <span th:unless="${item.itemPet} == 'Y'">불가능</span>
        	</div>
        	<div class="option-col">
        	<!-- 아이콘 -->
        	<span th:if="${item.itemBuildDate}!=null">
        	<img src="/resources/images/icon/task.png" class="option-img">
        	<!-- 이름 --><span th:text="${item.itemBuildDate}"></span>
        	</span>
        	</div>
        	<div class="option-col">
        	<!-- 아이콘 -->
        	<img src="/resources/images/icon/house.png" class="option-img">
        	<!-- 이름 --><span th:text="${item.itemAddress}"></span> <span th:text="${item.itemAddressDetail}"></span>
        	</div>
        	<div class="option-col">
        	<!-- 아이콘 -->
        	<img src="/resources/images/icon/checked.png" class="option-img">
        	<!-- 이름 -->등록번호 <span th:text="${item.iNum}"></span>
        	</div>
        </div>   
    </div>
<div class="read-more" id="moreBtn2">더보기 ></div>
    <br/>
    <hr/>
    <!-- 여기부터 상세설명 -->
    <div class="property-description">
        <div class="heading">상세 설명</div>
        <div class="content" id="shortC">
        <!-- 여기는 150자만 보여줍니다. 상세 설명을 잘라서 넣으세요 -->
		<span th:if="${item.itemIntroDetail != null}">
		    <span th:if="${#strings.length(item.itemIntroDetail) > 10}"
		          th:text="${#strings.substring(item.itemIntroDetail, 0, 10)} + '...'"></span>
		    <span th:if="${#strings.length(item.itemIntroDetail) <= 10}" 
		          th:text="${item.itemIntroDetail}"></span>
		</span>
        </div>

        <div class="content" id="originC" style="display:none;">
        <!-- 여기가 상세 정보 모두가 들어가는 공간입니다. 원본 상세 설명을 그대로 넣으세요. -->
        <span th:text="${item.itemIntroDetail}"></span></div>
    </div>
    <div class="read-more" id="moreBtn1">더보기 ></div>
    <!-- 여기까지 상세설명 -->
    <br/>
    <hr/>
    <div class="location">
        <b style="margin-bottom:20px;">위치</b>
        <br/>
        <div th:text="${item.itemAddress}">서울시 마포구 연남동</div>
        <div class="smallMap" id="map">지도</div>
    </div>
<script type="text/javascript" 
src="//dapi.kakao.com/v2/maps/sdk.js?appkey=272e230f3ef7cdac70a0cdd9a4d9fd77&libraries=services&autoload=false"></script>
<script>
kakao.maps.load(function() {
    var mapContainer = document.getElementById('map'),
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    var geocoder = new kakao.maps.services.Geocoder();
    
    geocoder.addressSearch('[[${item.itemAddress}]]', function(result, status) {
		if (status === kakao.maps.services.Status.OK) {
		var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
			var marker = new kakao.maps.Marker({
				map: map,
	            position: coords
	        });
		}
		map.setCenter(coords);
		map.setDraggable(false);
		map.setZoomable(false); 
    });
});
</script>
    <hr/>
    <div>
		<div style="font-weight: bold; font-size: 20px; margin-bottom:30px;">옵션</div>
		<div class="icon-container">
       		<div th:if="${io.air == 'Y'}">
          		<div class="option-icon">
             		<img src="/resources/images/icon/option/air-48.png" class="option-icon-img">
             		<div class="option-info">에어컨</div>
          		</div>
          	</div>
          	<div th:if="${io.bed == 'Y'}">
	          	<div class="option-icon">
		             <img src="/resources/images/icon/option/bed-48.png" class="option-icon-img">
		             <div class="option-info">침대</div>
	          	</div>
          	</div>
          	<div th:if="${io.cameratv == 'Y'}">
          		<div class="option-icon">
             		<img src="/resources/images/icon/option/cctv-48.png" class="option-icon-img">
             		<div class="option-info">CCTV</div>
          		</div>
          	</div>
          	<div th:if="${io.closet == 'Y'}">
	          <div class="option-icon">
	             <img src="/resources/images/icon/option/closet-48.png" class="option-icon-img">
	             <div class="option-info">옷장</div>
	          </div>
	        </div>
	        <div th:if="${io.desk == 'Y'}">
          		<div class="option-icon">
		             <img src="/resources/images/icon/option/desk-48.png" class="option-icon-img">
		             <div class="option-info">책상</div>
          		</div>
          	</div>
          	<div th:if="${io.entrance == 'Y'}">
          		<div class="option-icon">
		             <img src="/resources/images/icon/option/entrance-48.png" class="option-icon-img">
		             <div class="option-info">공동문</div>
          		</div>
          	</div>
          	<div th:if="${io.gasrange == 'Y'}">
          		<div class="option-icon">
             		<img src="/resources/images/icon/option/gasstove-48.png" class="option-icon-img">
             		<div class="option-info">가스불</div>
          		</div>
          	</div>
          	<div th:if="${io.induction == 'Y'}">
          		<div class="option-icon">
	             	<img src="/resources/images/icon/option/induction-48 .png" class="option-icon-img">
	             	<div class="option-info">인덕션</div>
          		</div>
          	</div>
          	<div th:if="${io.intercom == 'Y'}">
          		<div class="option-icon">
             		<img src="/resources/images/icon/option/intercom.png" class="option-icon-img">
             		<div class="option-info">인터폰</div>
          		</div>
          	</div>
          	<div th:if="${io.laundry == 'Y'}">
          		<div class="option-icon">
		             <img src="/resources/images/icon/option/laundry-48.png" class="option-icon-img">
		             <div class="option-info">세탁기</div>
          		</div>
          	</div>
          	<div th:if="${io.micro == 'Y'}">
          		<div class="option-icon">
            		<img src="/resources/images/icon/option/micro-48.png" class="option-icon-img">
            		<div class="option-info">렌지</div>
          		</div>
          	</div>
          	<div th:if="${io.refrigerator == 'Y'}">
	          	<div class="option-icon">
		            <img src="/resources/images/icon/option/refrigerator-48.png" class="option-icon-img">
		            <div class="option-info">냉장고</div>
	          	</div>
          	</div>
          	<div th:if="${io.sink == 'Y'}">
          		<div class="option-icon">
             		<img src="/resources/images/icon/option/sink-48.png" class="option-icon-img">
            		<div class="option-info">싱크대</div>
          		</div>
          	</div>	
       </div>
    </div>
    
    <!-- <div class="read-more">더보기 ></div> -->
   <br/>
   <div id="modalContainer" class="hidden modalContainer">
  <div id="modalContent" class="modalContent">
  	<b><span th:if="${item.agentName != null}">
	    	<span th:text="${item.agentName}"></span>
		</span>
	</b>
	<hr/>
	<span th:if="${item.agentIntro != null}">
		<span th:text="${item.agentIntro}"></span>
	</span>
	<br/>
	<br/>
	     <button id="modalCloseButton" class="modalCloseButton" style="width:80px;">닫기</button>
  </div>
</div>
    <hr/>
    <div class="agency-info">
        <div class="agent-photo">
         <img src="https://img.freepik.com/free-photo/young-businessman-with-a-lot-of-work_1098-3838.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1713052800&semt=ais
" alt="Your Image" class="agent-photo-inner">
        </div>
        <div class="agency-details">
	        <div class="agency-name">
	        	<span th:if="${item.agentName != null}">
	        		<span th:text="${item.agentName}"></span>
	        	</span>
	        	<span th:unless="${item.agentName != null}">이름 미등록 중개인</span>
	        </div>
	        <div class="agent-intro">
				<span th:text="${item.agentIntro != null && #strings.length(item.agentIntro) >= 10 ? #strings.substring(item.agentIntro, 0, 10) + '...' : item.agentIntro}">
	        	</span>
				<span th:unless="${item.agentIntro != null && #strings.length(item.agentIntro)>10}" >
	        		아직 프로필을 등록하지 않은 중개인입니다.
	        	</span>
			</div>
	      	<div class="read-more" id="modalOpenButton">더보기 ></div>
	      	<!-- 이 더보기의 경우 누르면 다른 화면으로 보내야 하기 때문에 javaScript 없음  -->
    	</div>
    </div>
    <br/>
    <hr/>	<!-- <div class="properties-box" th:each="item : ${list}" 
						th:itemNum="${item.itemNum}"
						th:itemItype="${item.itemItype}"
						th:add = "${item.itemAddress}"
						th:onclick="fn_showIframe(this.getAttribute('itemNum'),this.getAttribute('itemItype')); ">
						 -->
    
    <!-- 여긴 안할거면 지워도 됨 -->
	<div class="card-container">
	<div th:if="${list != ' '}" >
	<div>이 중개사무소의 다른 집</div><br/>
<section class="cards">
    <!-- th:itemNum="${list.itemNum}"
    th:onclick=""> -->
    <article class="card" th:each="list : ${list}">
        <img class="card__img" th:src="@{'/resources/upload/item/' + ${list.fileName}}">
        <a href="#" class="card_link"></a>
        <div class="card__info">
            <span class="card__category" th:text="${list.itemPtype}"></span>
            <div th:if="${list.itemName != ''}" class="card__title" th:text="${list.itemName}"></div>
            <div th:if="${list.itemName == ''}" class="card__title" id="itemItype" th:text="${list.itemItype}"></div>
            <div style="font-size:13px; margin-right:30%; color:grey; cursor:pointer;">자세한 정보 보러가기 ></div>
        </div>
        <div class="itemNum" th:text="${list.itemNum}" style="display:none;"></div>
        <div class="itemType" th:text="${list.itemNum}" style="display:none;"></div>
    </article>
</section>
</div>
<div th:if="${list == ' '}">
    <div>이 중개사무소는 다른 매물이 없습니다.</div>
</div>
</div>
<hr/>

<div style="display: flex; align-items: center;">
    <img src="/resources/images/icon/siren.png" class="option-img">
    <div class="warning" id="report">신고하기</div>
</div>
<!-- footer -->
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$(document).ready(function(){
    $(".slick-slider").slick({
        infinite: true,
        dots: true,
        appendArrows: $(".slick-slider-nav"),
        appendDots: $(".slick-slider-dots"),
        prevArrow : $('.prevArrow'), 
        nextArrow : $('.nextArrow')
    });
    $(".card").on("click",function(){
        var type = $(this).find(".itemType").text();
        var itemNum = $(this).find(".itemNum").text();
        
        console.log(type);
        console.log(itemNum);
        
        parent.document.getElementById("propertyIframe").src = "/detail?itemNum=" + itemNum + "&type=" + type;
    });
    $("#modalOpenButton").on("click",function(){
    	$("#modalContainer").show();
    });
    $("#modalCloseButton").on("click",function(){
    	$("#modalContainer").hide();
    });
    $("#modalContainer").on("click",function(){
    	if ($("#modalContainer").css("display") === "block") {
            $("#modalContainer").hide();
        }
    });
    $("#report").on("click",function(){
    	//if로그인 여부 확인
    	if('[[${user}]]' === 'null' || '[[${user}]]' == '' || '[[${user}]]' === 'anonymousUser'){
    		  alert("신고하려면 로그인이 필요합니다.");
    	}
    	else{
    		console.log("user:",'[[${user}]]');
    		console.log("item.itemNum:",'[[${item.itemNum}]]');
    		parent.$("#iNum").text('[[${item.iNum}]]');
    		parent.$("#thisNum").val('[[${item.itemNum}]]');
    		parent.$("#userId").val('[[${user}]]');
    		parent.$("#reportmodalContainer").show();
    	}		
    });
    parent.$("#reportmodalCloseBtn").on("click",function(){
    	parent.$("#reportmodalContainer").hide();
    });
    parent.$("#modalSubmit").on("click",function(){
    	if(confirm("이대로 제출할까요?")){
    		reportProblem();
    	}
    });
});
function reportProblem(){
	//alert("하이");
	var form = parent.$("form[name=reportForm]").serialize();
	console.log(form);
	
	if(parent.$("#userId").val()===null || parent.$("#userId").val()==''){
		alert("신고 기능은 로그인 후 이용 가능합니다.");
	}
	if(parent.$("#thisNum").val()==null || parent.$("#thisNum").val()===0){
		alert("에러");
	}
	else{
		$.ajax({
			url:"/report",
			type: "POST",
			dataType : "json",
			data : form,
			success : function(data) {
				console.log(data);
				if(data == 0){
					alert("에러");
				}
				else if(data == -1){
					alert("에러");
				}
				else if(data > 0){
					alert("성공적으로 신고되었습니다. 신고 처리내역은 마이페이지 - 신고 처리 내역에서 확인할 수 있습니다.");
					parent.$("#reportmodalContainer").hide();
				}
				else{
					alert("에러");
				}
			},
			error : function() {
			alert("error");
			} 
		});
	}
};
document.addEventListener("DOMContentLoaded", function() {	
    var goBack = document.getElementById("goBack");
    goBack.addEventListener("click", function() {
	    parent.document.getElementById("searchBar").style.display = "block";
	   	parent.document.getElementById("rightSidebarContent").style.display = "block";
	   	parent.document.getElementById("iframeContainer").style.display = "none";
    });
   //옵션 더보기
   var shortOption = document.getElementById("shortO");
    var fullOption = document.getElementById("longO");
    var moreBtn2 = document.getElementById("moreBtn2");

    moreBtn2.addEventListener("click", function() {
        if (fullOption.style.display === "none") {
           fullOption.style.display = "block";
            shortOption.style.display = "none";
            moreBtn2.textContent = "간략히 보기";
        } else {
           fullOption.style.display = "none";
            shortOption.style.display = "block";
            moreBtn2.textContent = "더 보기";
        }
    });
    //상세설명 더보기
    var shortText = document.getElementById("shortC");
    var fullText = document.getElementById("originC");
    var moreBtn = document.getElementById("moreBtn1");

    moreBtn.addEventListener("click", function() {
        if (fullText.style.display === "none") {
            fullText.style.display = "block";
            shortText.style.display = "none";
            moreBtn.textContent = "간략히 보기";
        } else {
            fullText.style.display = "none";
            shortText.style.display = "block";
            moreBtn.textContent = "더 보기";
        }
    });
});
</script>
</body>
</html>