<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 헤더 시작 -->
	<div th:replace="/common/header :: header"></div>
	<!-- 헤더 끝 -->

	<!-- 개별 css -->
	<style type="text/css">
		section .container {
        	width: 55%;
        }
        
		textarea {
			resize: none;
		}

		input[type="file"] {
			padding-left: 1%;
			padding-right: 0;
			height: 100%;
		}
	</style>
</head>

<body>
	<!-- 네비 시작 -->
	<div th:replace="/common/nav :: nav"></div>
	<!-- 네비 끝 -->

	<!-- 본문 시작 -->
	<div style="height: 13vh;"></div>
	<section style="min-height: 565px;">
		<div class="container p-5">
			<div class="d-flex row align-items-center justify-content-center h-100">
				<form th:action="@{|/board/noticeUpdate/${notice.noticeNum}|}" method="POST" enctype="multipart/form-data">
					<div>
						<input type="text" class="form-control mb-3" id="noticeTitle" name="noticeTitle" th:value="${notice.noticeTitle}">
					</div>
					<div>
						<input type="text" class="form-control mb-3" id="userId" name="userId" value="관리자" readonly>
					</div>
					<div>
						<textarea class="form-control mb-3 p-3" cols="20" rows="20" id="noticeContent" name="noticeContent" th:text="${notice.noticeContent}"></textarea>
					</div>
					<div class="mb-3">
						<input class="form-control" type="file" id="noticeFile" name="noticeFile" multiple>
					</div>
					<div>
						<input type="submit" id="btnUpdate" name="btnUpdate" value="수정">
						<input type="button" id="btnList" name="btnList" value="목록">
					</div>
					<input type="hidden" name="id" th:value="${notice.noticeNum}">
				</form>
			</div>
		</div>
	</section>
	<!-- 본문 끝 -->

	<!-- 푸터 시작 -->
	<footer th:replace="/common/footer :: footer"></footer>
	<!-- 푸터 끝 -->

	<!-- 개별 js -->
	<script type="text/javascript">
		$(document).ready(function () {
			$("#btnList").on("click", function () {
				location.href = "/board/notice";
			});
		});
	</script>
</body>

</html>