<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 헤더 시작 -->
	<div th:replace="/common/header :: header"></div>
	<!-- 헤더 끝 -->

	<!-- 개별 css -->
	<style type="text/css">
		section .container {
        	width: 55%;
        }
        
		ul {
			margin-bottom: 0;
		}

		li {
			list-style: none;
		}
		
		p {
			margin-bottom: 0;
		}

		.ib {
			display: inline-block;
		}
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		pre {
			font-family: 'Ha';
            src: url('/resources/fonts/kor/HANAMDAUM_Body.woff2') format('woff');
		}
	</style>
</head>

<body>
	<!-- 네비 시작 -->
	<div th:replace="/common/nav :: nav"></div>
	<!-- 네비 끝 -->

	<!-- 본문 시작 -->
	<div style="height: 13vh;"></div>
	<section style="min-height: 565px;">
		<div class="container p-5">
			<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">공지사항</p>
			<table class="table">
				<tbody>
					<tr>
						<td class="fs-3 px-3" th:text="${notice.noticeTitle}"></td>
					</tr>
					<tr>
						<td>
							<ul class="row justify-content-between p-3">
								<li class="col-4 fs-6">
									<b>작성자</b>
									<p class="ib px-2" th:text="${notice.userId}"></p>
								</li>
								<li class="col-4 fs-6 text-end">
									<b>등록일</b>
									<p class="ib px-2" th:text="${notice.regDate}"></p>
									<b>조회수</b>
									<p class="ib px-2" th:text="${notice.noticeHit}"></p>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<ul class="p-3">
								<pre class="pb-1 fs-5" th:text="${notice.noticeContent}"></pre>
								<li th:each="noitceFile : ${noticeFileList}">
									<img th:src="@{|/resources/upload/board/notice/${noitceFile.fileName}|}" alt="img">
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<input type="button" id="btnList" name="btnList" value="목록">
				<input type="button" id="btnUpdate" name="btnUpdate" onclick="updateReq()" value="수정">
				<input type="button" id="btnDelete" name="btnDelete" onclick="deleteReq()" value="삭제">
			</div>
		</div>
	</section>
	<!-- 본문 끝 -->

	<!-- 푸터 시작 -->
	<footer th:replace="/common/footer :: footer"></footer>
	<!-- 푸터 끝 -->

	<!-- 개별 js -->	
	<script type="text/javascript">
		$(document).ready(function () {
			$("#btnList").on("click", function () {
				location.href = "/board/notice";
			});
		});
	</script>
	
	<script th:inline="javascript">
	
		const updateReq = () => {
	        location.href = `/board/noticeUpdate/[[${notice.noticeNum}]]`;
	    }
	    
	    const deleteReq = () => {
	        location.href = `/board/noticeDelete/[[${notice.noticeNum}]]`;
	    }
	    
	</script>
</body>

</html>