<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 헤더 시작 -->
	<div th:replace="/common/header :: header"></div>
	<!-- 헤더 끝 -->

	<!-- 개별 css -->
	<style type="text/css">
		section .container {
        	width: 55%;
        }
        
		.form-control {
            height: 40px;
        }
	</style>
</head>

<body>
	<!-- 네비 시작 -->
	<div th:replace="/common/nav :: nav"></div>
	<!-- 네비 끝 -->

	<!-- 본문 시작 -->
	<div style="height: 13vh;"></div>
	<section style="min-height: 565px;">
		<div class="container p-5">
			<!-- 타이틀 -->
			<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">건의사항</p>

			<div class="d-flex align-items-center justify-content-between mb-3">
				<!-- 전체수 -->
				<div>
					<span>전체 <b></b>건</span>
				</div>
				
				<!-- 검색 -->
				<form action="" method="POST">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search">
				</form>
			</div>

			<!-- 테이블 시작 -->
			<table class="table table-hover fs-6">
				<thead>
					<tr class="text-center">
						<th scope="col" width="10%">번호</th>
						<th scope="col" width="50%">제목</th>
						<th scope="col" width="15%">작성자</th>
						<th scope="col" width="15%">작성일</th>
						<th scope="col" width="10%">조회</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<th>1</th>
						<td class="text-start ps-5">건의사항 테스트1</td>
						<td>user2</td>
						<td>2024-05-13</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
			<!-- 테이블 끝 -->

			<!-- 버튼 (관리자만 보임) -->
			<!-- <input sec:authorize="hasRole('ROLE_MANAGER')" type="button" id="btnInsert" name="btnInsert" value="글쓰기">  -->
			<input type="button" id="btnInsert" name="btnInsert" value="글쓰기">

			<!-- 네비게이션 시작 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item active"><span class="page-link">1</span></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
			<!-- 네비게이션 끝 -->
		</div>
	</section>
	<!-- 본문 끝 -->

	<!-- 푸터 시작 -->
	<footer th:replace="/common/footer :: footer"></footer>
	<!-- 푸터 끝 -->

	<!-- 개별 js -->
	<script type="text/javascript">
		$(document).ready(function () {
			$("#btnInsert").on("click", function () {
				location.href = "/board/suggestInsert";
			});
		});
	</script>
</body>

</html>