@charset "UTF-8";
@font-face {
   font-family: 'Ha';
   src: url('/resources/fonts/kor/HANAMDAUM_Body.woff2') format('woff');
}
::-webkit-scrollbar {
  display: none;
}
body{
   font-family: 'Ha' !important;
}
.img-box{
   width:88vw;
   height:300px;
   margin-bottom:20px;
   margin-left:-10px;
   margin-right:10px;
}
.property-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom:100px;
}

.property-header {
   
    justify-content: space-between;
    align-items: center;
}

.registration-number {
    font-weight: bold;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.address-date {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.date{
   position: absolute;
   text-align: right;
   right: 10%;
}

.rent{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    bottom: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
}

.property-intro, .property-description, .location, .agency-info {
    margin-top: 20px;
}

.property-description .heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.property-description .content {
    color: #666;
}

.content-pre {
   color: #666;
   width: 450px; /* 텍스트가 표시될 공간의 최대 너비 */
   overflow: hidden; /* 넘친 텍스트를 감출 수 있도록 설정 */
   white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
   text-overflow: ellipsis; /* 넘친 텍스트를 생략 부호(...)로 표시 */
}

.read-more {
   position:absolute;
   right:10%;
   cursor: pointer;
   color: #d698b1;
   font-weight: bold;
}
.contact-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.contact-button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* 예시로 배경색 추가 */
}

.smallMap{
   width:99%;
   height:200px;
   align-self: center;
   margin-top: 15px;
}
.agency-info {
    display: flex;
    align-items: center;
}
.agent-photo{
   position: relative;
   width: 100px; /* 지름 설정 */
    height: 100px; /* 지름 설정 */
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 20px;
}
.agent-photo-inner{
   width: 100%;
    height: 100%;
   object-fit: cover;
}
.agency-details {
    flex: 1; 
}

.agency-name {
    font-weight: bold;
}

.agent-intro {
    color: gray;
    font-size: 14px;
}
.warning{
   color: lightgrey;
   font-size: 14px;
   cursor: pointer;
   margin-top:8px;
}
.option-container{
   margin-top:30px;
   display: flex;
   flex-direction: column;
   
}
.option-col{
   margin-bottom:30px;
   vertical-align: middle;
   
}
.option-img{
   width:30px;
   height:30px;
   margin-right:15px;
   vertical-align: middle
}
.floor-layer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,1));
    z-index: 999; /* 다른 요소 위에 표시되도록 설정 */
    padding-bottom: 100px; 
}

.contact-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
    background-color: #d698b1; /* 배경색 지정 */
}

.icon-overlay-cancel {
   position: absolute;
   left:0%;
   top: 5%;
   cursor: pointer;
   width: 20px; /* 너비 조정 */
}
.icon-overlay { 
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3); /* 반투명한 배경색 */
    border-radius: 50%; /* 원형 아이콘일 경우 원형 모양으로 */
    padding: 5px; /* 아이콘과 배경 사이 여백 */
    cursor: pointer;
}
.icon-overlay2 { 
    position: absolute;
    top: 10%;
    left: 78%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3); /* 반투명한 배경색 */
    border-radius: 50%; /* 원형 아이콘일 경우 원형 모양으로 */
    padding: 5px; /* 아이콘과 배경 사이 여백 */
    cursor: pointer;
}
.inner-icon{
   width:30px;
   height:30px;
}
.icon-overlay-side0{
	position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    padding: 5px; /* 아이콘과 배경 사이 여백 */
    left:6%;
    cursor: pointer;
}
.icon-overlay-side1{
   position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px; /* 아이콘과 배경 사이 여백 */
    left:90%;
    cursor: pointer;
}
.icon-overlay-side2{
   position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px; /* 아이콘과 배경 사이 여백 */
    cursor: pointer;
    left:6%;
}

/* 옵션 아이콘 */
.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 열을 생성합니다. */
    gap: 10px; /* 이미지 사이의 간격을 조절합니다. */
}

.option-icon {
    width: 50px; /* 이미지 너비를 조정하여 부모 요소의 너비에 맞게 만듭니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
    margin: 0 auto; /* 가로로 가운데 정렬 */
    font-size: 14px;
}
.option-icon-img {
    width: 30px;
    height: auto; 
    display: flex;
    margin: 0 auto; /* 가로로 가운데 정렬 */
    margin-bottom:10px;
}
.option-info {
    text-align: center; /* 텍스트를 수평으로 중앙 정렬합니다. */
    margin: 0 auto; /* 좌우 마진을 auto로 설정하여 요소를 가로로 중앙 정렬합니다. */
}
.slick-slider-dots {
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.slick-slider-dots ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slick-slider-dots ul li {
  margin: 0 4px;
}
.slick-slider-dots ul li button {
  background: #eaeaea;
  height: 8px;
  width: 35px;
  overflow: hidden;
  color: #eaeaea;
  border: none;
  border-radius: 4px;
}
.slick-slider-dots ul li.slick-active button {
  background: #aaa;
  color: #aaa;
}
.slick-slider-nav {
	position: absolute;
	margin-top:120px;
	z-index: 1;
	width:100%;
}
.prevArrow{
	text-display:none;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	border: none;
	border-radius: 50%;
	color: white;
	text-align: center;
	margin-right:72%;
}
.nextArrow{
	text-display:none;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: none;
	border-radius: 50%;
	color: white;
	text-align: center;
}
.slick-slider{
	margin-top:30px;
	width:100%;
  	height:265px;
  	margin:0px auto;
  	border:0px;
  	display:inline-block;
  	
}
.slick-slider img{
	width:100%;
  	height:265px;
	background-color: ligthgrey;
}
.toolbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
}

.tool-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
body{
	padding: 30px;
}
.card-container{
	flex-direction: row;
	display: flex;
  	display: -webkit-flex;
  	-webkit-justify-content: center;
  	-webkit-align-items: center;
  	justify-content: center;
  	
}

.card__clock-info {
    float: right;
}

.card__img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0; 
}
.card {
	margin-bottom: 10px;
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  	color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
}
.card__title2 {
    margin-top: 5px;
    margin-bottom: 10px;
}


.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}
#modalOpenButton, #modalCloseButton {
  cursor: pointer;
}

.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: auto;
  justify-content: center; 
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.modalContent {
  position: relative;
  background-color: #ffffff;
  width: 80%;
  height: 200px;
  padding: 15px;
  top: 50%;
  margin-left: 7%;
  transform: translateY(-50%);
}

.modalContainer.hidden {
  display: none;
}
.modalCloseButton {
	width:30px;
	margin-left:40%;
    padding: 1em;
    border-radius: .2em;
    outline: none;
    background-color: #EEE;
    border: none;
    color: #555;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0em 0em 3em rgba(0,0,0,0);
    font-family: 'Ha';
}
.modelCloseButton :hover {
	border-radius: 0em;
	color: rgb(150, 150, 150);
    background:#fff;
    box-shadow: .1em .1em 3em rgba(0,0,0, 0.2);
}
form input, form textarea {
	font-family: 'Ha';
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 90%;
  margin-top: 1em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
.styled-select {
	font-family: 'Ha';
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
	font-family: 'Ha';
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  
  /*hide default down arrow in webkit */
  -webkit-appearance: none; 
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }