<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>401</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/page.css" />
</head>

<body>

    <div class="page-404">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <!--BEGIN CONTENT-->
                    <div class="inner-circle"><i class="fa fa-cogs"></i><span>401</span></div>
                    <span class="inner-status">본인 인증 실패</span>
                    <span class="inner-detail">
                        해당 계정의 본인 인증을 실패하였습니다<br>
                        <a href="/" class="btn btn-info mtl">Return home</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- https://dev-overload.tistory.com/29 -->