<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/page.css" />
</head>

<body>

    <div class="page-404">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <!--BEGIN CONTENT-->
                    <div class="inner-circle"><i class="fa fa-home"></i><span>403</span></div>
                    <span class="inner-status">접근이 거부되었습니다</span>
                    <span class="inner-detail">
                        요청하신 페이지 접근이 거부되었습니다<br>
                        <a href="/" class="btn btn-info mtl">Return home</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>